<<<<<<< HEAD
doctype html
html(lang='es')
=======
doctype
html(lang='en')
>>>>>>> 4249b5a70a86483bec16f930458574bcaeb7f027
    head
        meta(charset='utf-8')
        title commentPhoto
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/app.css")
    body
        //aca va todo el contenido, como layout
        block contenido