extends ./layout.pug
block contenido
    div(class="col-md-6 remove-float center-block big-top-space")
        form(action="/sessions" method="POST")
            div(class="form-group")
                label(for="email") Email
                input(type="text" name="email" placeholder="Email" class="form-control")
            div(class="form-group")
                label(for="password") Password 
                input(type="password" name="password" placeholder="Password" class="form-control") 
            div.row(class="top-space")
                div(class="col-xs-12 col-sm-6")
                    input(type="submit" value="Iniciar sesion" class="btn btn-success")
                div(class="col-xs-12 col-sm-6 text-right")
                    a(href="/signup") No tengo cuenta
            