.right-space {
    margin-right: 1em;
}

.remove-float {
    float: none;
}

<<<<<<< HEAD
.big-top-space {
    margin-top: 100px;
}

.top-space {
    margin-top: 1.5em;
=======
.top-space {
    margin-top: 1em;
}

.big-top-space {
    margin-top: 200px;
>>>>>>> 4249b5a70a86483bec16f930458574bcaeb7f027
}