doctype html
html(lang="es")
  head
    title Mi primera pagina con express & pug
  body
    h2 #{hola}
    //este codigo se ejecuta en el servidor
    - var arreglo = [1,2,3,4,5];
    - for (var i = 0; i <= arreglo.length - 1; i++)
      //con interpolación
      p #{arreglo[i]};
      // ó p= arreglo[i];
    if true
      p. 
        Hola haz click en #[a(href="/") este link]
    each item in arreglo
      p= item
      case item
        when 1
          p el item era 1
        default
          p el item no es 1
    
