extends ./layout.pug
block contenido
    form(action="/users" method="POST")
        div(class="form-group")
            label(for="email") Email
            input(type="text" name="email" placeholder="Email" class="form-control")
        div(class="form-group")
            label(for="password") Password 
            input(type="password" name="password" placeholder="Password" class="form-control")
        div(class="form-group")
            label(for="password_confirmation") Confirma Contraseña
            input(type="password" name="password_confirmation" placeholder="Pass confirm" class="form-control")
        div(class="form-group")
            label(for="username") username
            input(type="text", name="username" placeholder="Username" class="form-control") 
        div 
            input(type="submit" value="Iniciar sesion" class="btn btn-success")
        