extends ./layout.pug
block contenido 
    div(class="col-md-8 remove-float center-block text-center big-top-space")
        h1 Bienvenido a Comment Photo
        a.right-space(href="/login") iniciar sesion
        a(href="/signup") Registro
